@use 'vars' as v;


body {
  font-family: 'Montserrat', sans-serif;
}


.btn {
  border: none;
  padding: 0.5em 1em;
  background-color: v.$primary-color;
  color: v.$primary-light-color;
  font-size: 1rem;
  border-radius: 25px;
  border: 1px solid v.$primary-color;
}
.btn__outline {
  @extend .btn;
  background: transparent;
  color: v.$primary-color;
}

.mb {
  margin-bottom: 1rem;
}

.header-pill {
  display: inline-block;
  padding: 5px 20px;
  color: v.$primary-light-color;
  text-transform: uppercase;
  background-color: v.$secondarybg-color;
  border-radius: 30px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Open Sans",sans-serif;}

  .section-title{
    color: v.$primary-color;
    font-size: 2rem;
    @extend .mb;
  }

  .title-p{
    color: v.$p-color;
    margin-bottom: 3rem;
    font-size: 14px;
  }