@use 'reset';
@use 'common';
@use 'vars' as v;
@use 'mixins' as m;
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');


body{
  margin-bottom: 500px;
}

// Hero ------


.hero {
  padding-top: 6rem;
  padding-bottom: 6rem;

  .hero__text{
  color: v.$p-color;
  margin-bottom: 2rem;
  font-size: 14px;
}
}



// Features

.features {
  padding-top: 6rem;
  padding-bottom: 6rem;

  .features__text{
    color: v.$p-color;
    margin-bottom: 2rem;
    font-size: 14px;
    text-align: center;
}

  .features-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;

    @include m.myIcon;

      &__title {
        font-size: 18px;
      }
      &__p {
        color: v.$p-color;
        margin-bottom: 2rem;
        font-size: 14px;
        text-align: center;
      }
    }}

    // Why us

    .why-us{
      padding-top: 6rem;
      padding-bottom: 6rem;
    }


    .why-us__p {
      color: v.$p-color;
      margin-bottom: 1rem;
      font-size: 14px;
    }

    .why-us-list{
      list-style-type: none;
      color: v.$p-color;
      margin-bottom: 3rem;
      font-size: 14px;
      font-weight: 400;
      padding-left: 0;

      &__marker::before{
      content: '\f00c';
      font-family: FontAwesome;
      padding-right: 0.3rem;
      }
    }

    // Services

    .services-title{
      text-align: center;
      margin-bottom: 3rem;
    }

    .services-grid{
      display: grid;
      grid-template-columns: 50px auto;
      text-align:left;
      place-self: center;
      padding: 30px 15px;
      border: 1px solid rgb(255, 255, 255);
      margin-bottom: 30px;

      @include m.myIcon($leftPosition:0);

      &__icon{
        grid-row: span 2;
      }

    }




    // media queries

    @import 'media';